body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header h1 {
    margin-bottom: 5px;
}

.kpi-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.kpi-card {
    padding: 10px;
    background: #f3f3f3;
    border-radius: 6px;
    flex: 1 1 150px;
}

table {
    width: 100%;
    border-collapse: collapse;   
    margin-top: 10px;
    border: 1px solid #000;      
}

table th, table td {
    border: 1px solid #000;     
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;  
}


.fuel-bar {
    width: 100%;
    height: 25px;
    background-color: #ddd;
    border-radius: 6px;
    margin-bottom: 5px;
}

#fuelFill {
    height: 100%;
    background-color: green;
    width: 0%;
    border-radius: 6px;
}

#mttrChart {
    width: 50% !important;   
    height: 400px !important;
}

@media (max-width: 600px) {
    .kpi-container {
        flex-direction: column;
    }
}
